<div class="col-md-9">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
    </ul>
    <div class="tab-content">
      <div class="active tab-pane" id="activity">

      <!-- Post -->
        <div class="post">
          <div class="user-block">
            <img class="img-circle img-bordered-sm" src="/static/dist/img/user6-128x128.jpg" alt="User Image">
              <span class="username">
                <a href="#">Marc Andres</a>
                <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
              </span>
            <span class="description"> Posted 5 mins ago</span>
          </div>
          <!-- /.user-block -->
          <div class="row margin-bottom">
            <div class="col-sm-6">
              <img class="img-responsive" src="/static/dist/img/photo1.png" alt="Photo">
            </div>
          </div>
        </div>
      <!-- Post End -->

      <!-- Post -->
        <div class="post">
          <div class="user-block">
            <img class="img-circle img-bordered-sm" src="/static/dist/img/user6-128x128.jpg" alt="User Image">
              <span class="username">
                <a href="#">Marc Andres</a>
                <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
              </span>
            <span class="description"> Posted 5 mins ago</span>
          </div>
          <!-- /.user-block -->
          <div class="row margin-bottom">
            <div class="col-sm-6">
              <img class="img-responsive" src="/static/dist/img/photo1.png" alt="Photo">
            </div>
          </div>
        </div>
      <!-- Post End -->




      </div>
    </div>
  </div> 
</div>
